body {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

h1 {
  color: black;
  display: inline-block;
}

p {
  color: #DDDBFF;
}

.desktop-bg {
  position: absolute;
  display: block;
  width: inherit;
  z-index: 5;
  margin-top: 380px;
  border-radius: 210px 0 0 0;
}

/* Icons */
.icons {
  display: inline-block;
  background-color: #0c122c;
  border-radius: 10px;
  position: relative;
  top: 0;
  margin: 5px 10px 5px 0;
  width: 47px;
  height: 46px;
  align-content: center;
}

.icon-document {
  width: 20px;
  display: block;
  margin: 10px auto;
}

.icon-folder {
  width: 25px;
  display: block;
  margin: 12px auto;
}

.icon-upload {
  width: 25px;
  display: block;
  margin: 14px auto;
}

/* Text */
.gb-left {
  color: #848794;
  display: inline-block;
  font-weight: 700;
}

.zero-gb, .thousand-gb {
  display: inline-block;
  margin: 8px auto 0 auto;
  font-weight: 600;
}

.thousand-gb {
  margin-left: 21rem;
}

.notif-number {
  font-size: 2.3rem;
  margin: 10px 0;
}

.usage-text {
  font-weight: lighter;
  display: inline-block;
}

.gb-used {
  display: inline-block;
  font-weight: 700;
}

/* Containers */
.container {
  position: relative;
  width: 1440px;
  height: 800px;
  background-color: #0c122c;
  background-color: hsl(229, 57%, 11%);
  justify-content: center;
  align-items: center;
  display: flex;
}

.contents {
  z-index: 5;
  position: relative;
  bottom: 11px;
  align-items: center;
}

.left-container {
  background-color: #1D2C67;
  background-color: hsl(228, 56%, 26%);
  display: inline-block;
  padding: 35px 105px 30px 40px;
  border-radius: 15px 80px 15px 15px;
  position: relative;
  bottom: 0.37rem;
  height: 7.6rem;
}

.logo-container {
  margin-bottom: 23px;
  height: 40px;
}

.right-container {
  display: inline-block;
  z-index: 30;
  width: fit-content;
  position: relative;
  bottom: 0.8rem;
  margin-left: 25px;
}

.right-contents {
  background-color: #1D2C67;
  background-color: hsl(228, 56%, 26%);
  border-radius: 12px;
  height: 125px;
  z-index: 20;
  position: relative;
  bottom: 0;
  padding: 20px 40px 0 40px;
}

.storage-scale {
  display: inline-block;
}

/* notification */
.notification {
  width: 7.8rem;
  background-color: white;
  border-radius: 10px 10px 0 10px;
  display: block;
  padding: 1px 22px;
  z-index: 30;
  position: absolute;
  bottom: 7.7rem;
  right: 2.5rem;
  text-align: center;
}

.notif-number-container {
  display: inline;
  position: relative;
  bottom: 0;
}
.gb-left-container {
  display: inline;
  position: relative;
  bottom: 0.4rem;
  left: 5px;
}

.notif-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent #ffffff transparent transparent;
  display: inline-block;
  z-index: 30;
  position: absolute;
  bottom: 6.5rem;
  right: 2.5rem;
}

/* Gradient Bar */
.storage-ball {
  height: 12px;
  width: 12px;
  border-radius: 10px;
  background-color: white;
  margin-left: 311px;
  bottom: 0.5px;
}

.storage-bar {
  height: 18px;
  width: 425px;
  border-radius: 10px;
  background-color: #0c122c;
  padding: 0;
}

.used-storage-bar {
  height: 13px;
  width: 325px;
  border-radius: 10px;
  background: hsl(6, 100%, 80%);
  background: -webkit-linear-gradient(left, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  background: -moz-linear-gradient(left, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  background: -ms-linear-gradient(left, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  background: -o-linear-gradient(left, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  background: -webkit-gradient(left, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  border: solid 3px;
  border-color: #0c122c;
}
